// Definindo variáveis de cor
$cor-primaria: #001f3f; // Azul marinho
$cor-secundaria-1: #0074cc; // Azul mais claro
$cor-secundaria-2: #00a8e8; // Azul ainda mais claro
$cor-texto-navbar: #fff; // Cor do texto principal
$cor-texto: #333; // Cor do texto principal
$cor-fundo: #fff; // Cor de fundo padrão
$cor-hover: #004080; // Cor ao passar o mouse
