// main.scss

@import 'variables';
@import 'mixins';
@import 'collors';
@import 'layouts/responsiveness';
@import 'layouts/text';
@import 'components/navbar';

// Estilos para todos os elementos
*,
::after,
::before {
    box-sizing: border-box;

    @include media-query("md") {
        line-height: 1.5;
    }

    @include media-query("xl") {
        line-height: 1.75;
    }
}


// Outras variáveis, se necessário
$cor-link: $cor-secundaria-1;

// Estilo de um link
a {
    color: $cor-link;

    &:hover {
        color: darken($cor-link, 10%); // Pode usar funções do SCSS, como darken para escurecer a cor
    }
}

// Estilos para o corpo do documento
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: $cor-texto;
    background-color: $cor-fundo;
    overflow-x: hidden;
}