// Estilos para o acordeão
.accordion {
    .accordion-item {
        margin: .5rem 0;

        .accordion-header {
            cursor: pointer;
            background-color: #f4f4f4;
            padding: 10px;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
            text-transform: capitalize;

            span.icon {
                float: right;
            }
        }

        .accordion-content {
            display: none;
            padding: 10px;
            // border-bottom: 1px solid #ddd;
            border: 1px solid #ddd;
            border-top: none;
        }

        &.active {
            .accordion-content {
                display: block;
            }
        }
    }
}