.container {
  width: 100%;
  margin: auto;
  padding: 0 1rem;
  max-width: 100%;
}
@media (min-width: 480px) {
  .container {
    padding: 0 2rem;
    max-width: 34rem;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 3rem;
    max-width: 48rem;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 4rem;
    max-width: calc(100vw - 4rem);
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 5rem;
    max-width: calc(100vw - 5rem * 2);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

@media screen and (min-width: 320px) {
  .col-xs-1 {
    width: 8.3333333333% !important;
  }
  .col-xs-2 {
    width: 16.6666666667% !important;
  }
  .col-xs-3 {
    width: 25% !important;
  }
  .col-xs-4 {
    width: 33.3333333333% !important;
  }
  .col-xs-5 {
    width: 41.6666666667% !important;
  }
  .col-xs-6 {
    width: 50% !important;
  }
  .col-xs-7 {
    width: 58.3333333333% !important;
  }
  .col-xs-8 {
    width: 66.6666666667% !important;
  }
  .col-xs-9 {
    width: 75% !important;
  }
  .col-xs-10 {
    width: 83.3333333333% !important;
  }
  .col-xs-11 {
    width: 91.6666666667% !important;
  }
  .col-xs-12 {
    width: 100% !important;
  }
}
@media screen and (min-width: 480px) {
  .col-sm-1 {
    width: 8.3333333333% !important;
  }
  .col-sm-2 {
    width: 16.6666666667% !important;
  }
  .col-sm-3 {
    width: 25% !important;
  }
  .col-sm-4 {
    width: 33.3333333333% !important;
  }
  .col-sm-5 {
    width: 41.6666666667% !important;
  }
  .col-sm-6 {
    width: 50% !important;
  }
  .col-sm-7 {
    width: 58.3333333333% !important;
  }
  .col-sm-8 {
    width: 66.6666666667% !important;
  }
  .col-sm-9 {
    width: 75% !important;
  }
  .col-sm-10 {
    width: 83.3333333333% !important;
  }
  .col-sm-11 {
    width: 91.6666666667% !important;
  }
  .col-sm-12 {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333% !important;
  }
  .col-md-2 {
    width: 16.6666666667% !important;
  }
  .col-md-3 {
    width: 25% !important;
  }
  .col-md-4 {
    width: 33.3333333333% !important;
  }
  .col-md-5 {
    width: 41.6666666667% !important;
  }
  .col-md-6 {
    width: 50% !important;
  }
  .col-md-7 {
    width: 58.3333333333% !important;
  }
  .col-md-8 {
    width: 66.6666666667% !important;
  }
  .col-md-9 {
    width: 75% !important;
  }
  .col-md-10 {
    width: 83.3333333333% !important;
  }
  .col-md-11 {
    width: 91.6666666667% !important;
  }
  .col-md-12 {
    width: 100% !important;
  }
}
@media screen and (min-width: 1024px) {
  .col-lg-1 {
    width: 8.3333333333% !important;
  }
  .col-lg-2 {
    width: 16.6666666667% !important;
  }
  .col-lg-3 {
    width: 25% !important;
  }
  .col-lg-4 {
    width: 33.3333333333% !important;
  }
  .col-lg-5 {
    width: 41.6666666667% !important;
  }
  .col-lg-6 {
    width: 50% !important;
  }
  .col-lg-7 {
    width: 58.3333333333% !important;
  }
  .col-lg-8 {
    width: 66.6666666667% !important;
  }
  .col-lg-9 {
    width: 75% !important;
  }
  .col-lg-10 {
    width: 83.3333333333% !important;
  }
  .col-lg-11 {
    width: 91.6666666667% !important;
  }
  .col-lg-12 {
    width: 100% !important;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333% !important;
  }
  .col-xl-2 {
    width: 16.6666666667% !important;
  }
  .col-xl-3 {
    width: 25% !important;
  }
  .col-xl-4 {
    width: 33.3333333333% !important;
  }
  .col-xl-5 {
    width: 41.6666666667% !important;
  }
  .col-xl-6 {
    width: 50% !important;
  }
  .col-xl-7 {
    width: 58.3333333333% !important;
  }
  .col-xl-8 {
    width: 66.6666666667% !important;
  }
  .col-xl-9 {
    width: 75% !important;
  }
  .col-xl-10 {
    width: 83.3333333333% !important;
  }
  .col-xl-11 {
    width: 91.6666666667% !important;
  }
  .col-xl-12 {
    width: 100% !important;
  }
}
.col-1 {
  width: 8.3333333333%;
}
.col-2 {
  width: 16.6666666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333333333%;
}
.col-5 {
  width: 41.6666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.3333333333%;
}
.col-8 {
  width: 66.6666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3333333333%;
}
.col-11 {
  width: 91.6666666667%;
}
.col-12 {
  width: 100%;
}

@media screen and (max-width: 320px) {
  .col-xs.col {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .col-sm.col {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .col-md.col {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .col-lg.col {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .col-xl.col {
    width: 100%;
  }
}
@media screen and (min-width: ) {
  .col-xl-1 {
    width: 8.3333333333% !important;
  }
  .col-xl-2 {
    width: 16.6666666667% !important;
  }
  .col-xl-3 {
    width: 25% !important;
  }
  .col-xl-4 {
    width: 33.3333333333% !important;
  }
  .col-xl-5 {
    width: 41.6666666667% !important;
  }
  .col-xl-6 {
    width: 50% !important;
  }
  .col-xl-7 {
    width: 58.3333333333% !important;
  }
  .col-xl-8 {
    width: 66.6666666667% !important;
  }
  .col-xl-9 {
    width: 75% !important;
  }
  .col-xl-10 {
    width: 83.3333333333% !important;
  }
  .col-xl-11 {
    width: 91.6666666667% !important;
  }
  .col-xl-12 {
    width: 100% !important;
  }
}
h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 1.55vh;
}

h2 {
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1.6vh;
}

h3 {
  font-size: 2.5rem;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 1.65vh;
}

h4 {
  font-size: 2rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 1.7vh;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.75vh;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 1.8vh;
}

p {
  line-height: 1.3;
}

.navbar {
  background-color: #001f3f;
  padding: 0.625rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  transition: fill 0.3s ease;
}
.navbar .logo a {
  display: flex;
}
.navbar .logo a img {
  height: 7vh;
}
@media (min-width: 768px) {
  .navbar .logo a img {
    height: 8vh;
  }
}
@media (min-width: 1024px) {
  .navbar .logo a img {
    height: 9vh;
  }
}
.navbar .menu-icon {
  cursor: pointer;
  display: block;
  height: 4vh;
  border: solid 2px #fff;
  border-radius: 1rem;
  z-index: 1;
}
@media (min-width: 768px) {
  .navbar .menu-icon {
    height: 5vh;
  }
}
@media (min-width: 1024px) {
  .navbar .menu-icon {
    display: none;
  }
}
.navbar .menu-icon svg {
  width: 100%;
  height: 100%;
  fill: #fff;
  transition: fill 0.3s ease;
}
.navbar .menu-icon svg line {
  color: #fff !important;
}
.navbar .collapse {
  display: none;
}
@media (min-width: 1024px) {
  .navbar .collapse {
    display: block;
  }
}
.navbar .collapse .nav-links {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar .collapse .nav-links li {
  float: left;
}
.navbar .collapse .nav-links li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.navbar .collapse .nav-links li a:hover {
  background-color: #004080;
}
.navbar .collapse .dropdown {
  display: inline-block;
}
.navbar .collapse .dropdown:hover .dropdown-content {
  display: block;
}
.navbar .collapse .dropdown-content {
  display: block !important;
  margin-left: 3rem;
}
.navbar .collapse .dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  text-align: left;
  transition: background-color 0.3s ease;
}
.navbar .collapse .dropdown-content a:hover {
  background-color: #004080;
}
@media (min-width: 1024px) {
  .navbar .collapse .dropdown-content {
    display: none;
    position: absolute;
    background-color: #001f3f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: auto;
  }
}
.navbar .collapse.active {
  display: flex;
  position: absolute;
  right: 0;
  min-height: 100%;
  background-color: #001f3f;
  top: 0;
  padding-top: 10vh;
  z-index: 0;
  width: 40vw;
}
.navbar .collapse.active ul.nav-links {
  display: grid;
  height: 100%;
  top: 0;
  margin-top: 0;
  justify-content: left;
  width: 100%;
}
.navbar .collapse.active ul.nav-links a {
  text-align: left;
}
@media (min-width: 768px) {
  .navbar {
    height: 10vh;
  }
}
@media (min-width: 1024px) {
  .navbar {
    height: 12vh;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}
@media (min-width: 768px) {
  *,
  ::after,
  ::before {
    line-height: 1.5;
  }
}
@media (min-width: 1200px) {
  *,
  ::after,
  ::before {
    line-height: 1.75;
  }
}

a {
  color: #0074cc;
}
a:hover {
  color: #005799;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: #333;
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
